.topNavbg{
    background-color: #193867;
    height: 40px;
}
.anchorDiv{
    color: #ffffff !important;
                  
}
.midNavmainRow{
    height: 90px;
   
}
.midNavButton{
    margin-top: 15%;
}
.midSearch{
    margin-top: 2% !important;
}