.topNavbg{
    background-color: #193867;
    height: 40px;
}
.anchorDiv{
    color: #ffffff !important;
                  
}
.midNavmainRow{
    height: 90px;
   
}
.midNavButton{
    margin-top: 15%;
}
.midSearch{
    margin-top: 2% !important;
}

.d-flex {
    margin-top: 30px;
  }
  .suborno{
      height: 25%;
  }
  .sekhMujib{
      height: 30%;
  }
  .stamford{
      height: 25%;
  }
  .icon{
      color: #ccc;
      font-size: 20px;
      padding: 5px;
  }