.topBanner{
    background-image: url(../images/banner.jpg);
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}
.topBannerOverlay{
    min-height: 550px;
    position: absolute;
    width: 100%;
    background: rgb(43, 43, 43,0.7);
}
.topContent{
    margin-top: 15%;
    text-align: center;
    color: #ffffff;
}
.topTitle{
    font-family: 'montserreat','sans-serif';
    font-weight: 700;
    font-size: 48px;
}
.topSubTitle{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.serviceImage{
    height: 100px;
    width: 100px;
    margin-top: 3rem;
}
.card{
    align-items: center;
    text-align: center;
    height: 22rem;
    box-shadow: 0 0 2px 0 rgb(0, 115, 230, 0.2);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.card:hover{
    box-shadow: 0 0 8px 0 rgb(0, 115, 230, 0.2);
}
.cardRow{
  margin-left: auto;
}
.cardColumn{
    margin-top: 3rem;
   
}

.serviceTitle{
    text-align: center;
    font-family: 'Montserreat', sans-serif;
    font-size: 200%;
    margin-top: 5rem;
    background: linear-gradient(-46deg,rgb(254, 201, 83),rgb(243, 132, 146));
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}
.cardTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
   
    font-size: 24px;
}
.cardDescription{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
   color: rgb(110, 110, 110);
    
}

.navTitle{
    font-family: 'Montserreat', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

.navTitleScroll{
    font-family: 'Montserreat', sans-serif;
    color: rgb(0, 115, 230) ;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
} 
#logo{
    height: 50px !important;
    width: 60px !important;
}

.navBakground{
    -weblit-transition:background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgb(43, 43, 43, 0.0);
}

.loremParagraph{
    text-align: justify;
    margin-top: 16%;
    font-weight: 400;
    color: rgb(43, 43, 43);
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    

}
.summarySection{
    margin-top: 5rem;
}
.summaryBanner{
    background-image: url(../images/Keyboard.jpg);
    min-height: 395px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}
.summaryBannerOverlay{
    min-height: 395px;
    position: absolute;
    width: 100%;
    background: rgb(43, 43, 43, 0.7);
}

.countNumber{
    color: #ffffff;
    font-family: 'Montserreat', sans-serif;
    font-size: 48px;
    font-weight: 600;

}

.countTitle{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.bar{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 2px!important;
}
.countSection{
    margin-top: 14%;
}
.cardTitle{
    font-weight: 600;
    font-size: 22px;
    color: rgb(43, 43, 43);
    font-family:'Raleway', sans-serif ;
    text-align: justify;
}
.cardSubTitle{
    font-weight: 400;
    font-size: 14px;
    color: rgb(43, 43, 43);
    font-family:'Montserreat', sans-serif ;
    text-align: justify;
}

.summaryCard{
    height: 80%;
    margin-top: 18%;
}
.icon{
    color: rgb(241, 134, 94);
    font-size: 14px;
}
.recentProjectsCard{
    height: 495px;
    width: 77%;
    margin-top: 10%;
    border-radius: 2px;
    border: none !important;
    box-shadow: 0 0 4px 0 rgb(0, 115, 230, 0.2);
}
.recentProjectsCard:hover{
    box-shadow: 0 0 8px 0 rgb(0, 115, 230, 0.2);
}

.projectCardTitle{
    font-family:'Montserreat', sans-serif ;
    font-size: 18px;
    font-weight: 600;
}
.projectCardDescription{
    font-family:'Raleway', sans-serif ;
    font-size: 15px;
    font-weight: 400;
}
.recentProjectTitle{
    text-align: center;
    font-family: 'Montserreat', sans-serif;
    font-size: 200%;
    margin-top: 7rem;
    background: linear-gradient(-46deg,rgb(254, 201, 83),rgb(243, 132, 146));
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}
.RecentButton{
    background: linear-gradient(-46deg,rgb(254, 201, 83),rgb(243, 132, 146));
    border: none;
    color: rgb(43, 43, 43);
    
}
.CourseImage{
    height: 80%;
    width: 100%;
    margin-top: 2%;
}
.CourseTitle{
    text-align: justify;
    margin-top: 2%;
    font-family:'Montserreat', sans-serif ;
    font-size: 18px;
    font-weight: 600;
}
.CoursePara{
    font-family:'Raleway', sans-serif ;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;  
}
.CourseLink{
    font-family:'Raleway', sans-serif ;
    text-decoration: none;
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: rgb(241, 134, 94);
}
.CourseLink:hover{
    text-decoration: none;
    color: rgb(241, 134, 94);
}
.ourCourseTitle{
    margin-bottom: 3%;
}
.vedioCard{
    box-shadow: 0 0 8px 0 rgba (0, 115, 230, 0.2);
    padding: 6% 3% 6% 3%;
    background-color: #f7f3f3;
    margin: 50px auto;
}
.playBtn{
   color:rgb(241, 134, 94) ;
    font-size: 48px;
    cursor: pointer;
}
.vedioTitle{
    color:rgb(241, 134, 94) ;
    font-family:'Montserreat', sans-serif ;
    font-size: 22px;
    font-weight: 600;
}

.vedioDes{
    font-family:'Raleway', sans-serif ;
    font-size: 16px;
    font-weight: 400;

}
.colseBtn{
    background: linear-gradient(-46deg,rgb(254, 201, 83),rgb(243, 132, 146));
  position: relative;
  margin-right: auto;
}
.circleImage{
    margin: 0 auto;
    height: 100px;
    width: 100p;
    border-radius: 50%;
    border: 1px solid rgb(241, 134, 94);

}
.slider{
  
  position: relative;
  margin: 3% auto 0px;
}
.footerSection{
    margin-top: 3%;
    box-shadow: 0 0 8px 0 rgba (0, 115, 230, 0.2);
}
.footerComponent{
    text-align: center;
    
    
}
.socialLink{
    text-decoration: none;
    font-family:'Raleway', sans-serif ;
    color:rgb(241, 134, 94) ;
    font-size: 14px;
    font-weight: 600;
}
.socialLink:hover{
    text-decoration: none;
    color:rgb(43, 43, 43) ;
    
}
.informationLink{
    text-decoration: none;
    font-family:'Raleway', sans-serif ;
    color:rgb(43, 43, 43) ;
    font-size: 14px;
    font-weight: 400;
}

.informationLink:hover{
    text-decoration: none;
    color:rgb(241, 134, 94) ;
    
}
.copyRight{
    background: linear-gradient(-46deg,rgb(254, 201, 83),rgb(243, 132, 146)); 
    padding: 1% 0px;
    
}
.copyRight a{
    text-decoration: none;
    font-family:'Raleway', sans-serif ;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.copyRight a:hover{
    text-decoration: none;
    color: #000000;
}
.footerTitle{
    margin-top: 0px;
}
.topPageBanner{
    background-image: url(../images/banner.jpg);
   min-height: 280px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}
.topPageBannerOverlay{
    min-height: 280px;
     position: absolute;
     width: 100%;
     background: rgb(0, 0, 0, 0.7);
     padding: 0px !important;
     left: 0px;
 }
 .topPageContent{
    margin-top: 9%;
    text-align: center;
    color: #ffffff;
   
}
.topPageTitle{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 28px;  
}
/* .form-control:focus{
 border-radius: 2px !important;
 border-color: rgb(0, 115, 230) !important;
 box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2) !important;
} */

.contactPage{
    margin-top: 5%;
}

a{
    text-decoration: none;
}
.textWhite{
    color: #f7f3f3;
}
.textDark{
    color: black;
}
@media only screen and (max-width: 600px) {
    .topBanner {
        min-height: 250px;
    }
    .topBannerOverlay{
        min-height: 250px;
    }
    .topContent{
        margin-top: 20%;
    }
    .topTitle{
        font-size: 30px;
    }
    .topSubTitle{
        font-size: 15px;
    }
    .nav-link{
        padding: 2px 0;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
      
      .custom-toggler.navbar-toggler {
        border-color: rgb(255,102,203);
      } 
      .serviceTitle{
        margin-top: 2rem;
      }
      .summaryCard{
        margin-top: 6%;

      }
      .summaryBannerOverlay{
          height: 380px;
      }
      .recentProjectTitle{
        margin-top: 5rem;
      }
      .collapsed{
         color: #ce0a0a;
         padding-right: 0px;
      }
      .fixedMargin{
          padding-right: 0px;
      }
    
    }